.informations{
    min-height: 80vh;
    padding-bottom: 2vh;
}

.title{
    height: 10vh;

    display: flex;
    align-items: center;
}

.form{
    height: 50vh;
    width: 100%;
    position: relative;
    margin-top: 30px;
}

@media (max-height: 830px) {
    .form {
        height: 100%;
    }
}