.all{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aling {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 30px;
}

.recovery{
    width: 100%;
}

.btnSub{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 35px;
}

.password {
    width: 100%;
    display: flex;
    justify-content: center;
}

.passalign{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.progressbar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.typeofcostumer{
    display: flex;
    gap: 20px;
}

.chooseType{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 10px;
}

.iam {
    width: 80%;
}

.iam p {
    font-family: "Nokora", sans-serif;
    font-weight: 700;
    font-style: normal;

    color: var(--branco-verde);
}
