.all{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.text{
    color: var(--branco-verde);
    font-size: 12px;
    text-decoration: none;

    font-family: "Nokora", sans-serif;
    font-weight: 700;
    font-style: normal;

    width: 80%;
}