.todo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 80%;
}

.mess {
    width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--branco-verde);

    font-family: "Nokora", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;

    padding-top: 8px;
}

.bar {
    height: 2vh;
    width: 100%;
    background-color: transparent;
    border-radius: 10px;

    position: relative;
    border: var(--branco-verde) 1px solid;
}

.couter {
    margin: 0 0;
    height: 100%;
    border-radius: 10px;
}